# -*- mode: Conf -*-
[user]
   name = David Moreira
   email = david.moreira@dataiku.com
[alias]
        amend   = commit --amend --no-verify --no-edit
        b       = !tig blame
        br      = branch
        brs     = !legit branches
        c       = check
        co      = checkout
        db      = rev-parse --abbrev-ref HEAD
        fi      = "!git commit --fixup "
        filestatus = diff --name-status
        g       = grep --color=always
        hidden  = "!git ls-files -v | grep ^h | cut -c 3-"
        hide    = update-index --assume-unchanged
        index   = diff --cached
        l       = log --decorate=full --pretty=full --graph -b --stat --no-merges
        ours    = "!f() { git commit --ours $@ && git add $@; }; f"
        rba     = rebase --abort
        rbc     = rebase --continue
        rb      = rebase
        rbs     = rebase --skip
        ri      = rebase --interactive --autosquash
        rw      = commit --amend --no-verify
        sq      = "!git commit --squash "
        st      = status
        t       = log --graph --decorate --pretty=oneline --abbrev-commit --no-merges
        theirs  = "!f() { git commit --theirs $@ && git add $@; }; f"
        unhide  = update-index --no-assume-unchanged
        up      = update
        w       = !git log --pretty=format:"`tput setaf 3`%h%x09`tput setaf 2`%an%x09`tput setaf 6`%s"
        who     = shortlog -sne
[color]
   ui = true
[core]
        excludesfile = /home/vash/.gitignore_global

# Less bullshit
[advice]
        pushNonFastForward = false
        statusHints = false
        commitBeforeMerge = false
        resolveConflict = false
        implicitIdentity = false
        detachedHead = false

[diff]
   algorithm = patience
[branch "master"]
   rebase = true
[branch]
   autosetuprebase = always
[hooks]
   allownonascii = false
   
